<!-- top ones -->
{% for post in paginator.posts %}
  {% if post.top %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <div class="label">
        <div class="label-card">
            <i class="fa fa-calendar"></i>{{ post.date | date: "%F" }}
        </div>
        <div class="label-card">
            {% if post.author %}<i class="fa fa-user"></i>{{ post.author }}
            {% endif %}
        </div>
        <div class="label-card">
            {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
        </div>

        <div class="label-card">
        {% include category.html %}
        </div>

        <div class="label-card">
        {% include tag.html %}
        </div>

        <div>
          <i class="fa fa-caret-up" style="font-size:20px"></i>
          置顶
        </div>
        
    </div>
    <div class="excerpt">
        {{post.excerpt}}
    </div>
    <div class="read-all">
        <a  href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-newspaper-o"></i>Read All</a>
    </div>
    <hr>
  </li>
  {% endif %}
{% endfor %}
<!-- regular ones -->
{% for post in paginator.posts %}
{% if post.top %}{% else %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <div class="label">
        <div class="label-card">
            <i class="fa fa-calendar"></i>{{ post.date | date: "%F" }}
        </div>
        <div class="label-card">
            {% if post.author %}<i class="fa fa-user"></i>{{ post.author }}
            {% endif %}
        </div>
        <div class="label-card">
            {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
        </div>

        <div class="label-card">
        {% include category.html %}
        </div>

        <div class="label-card">
        {% include tag.html %}
        </div>
    </div>
    <div class="excerpt">
        {{post.excerpt}}
    </div>
    <div class="read-all">
        <a  href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-newspaper-o"></i>Read All</a>
    </div>
    <hr>
  </li>
  {% endif %}
{% endfor %}